%main.container
  %div.center= flash[:success]
  = link_to :back, class: "general-back-link" do
    %i.fa.fa-long-arrow-left.mr-15
    = t :back_to_results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          %img.img-responsive{src: "#{@book.image}"}
    .col-sm-6
      %h1.mt-res-0= @book.title
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10 €#{@book.price}
        =form_for @order_item, url: bs_checkout.order_items_path(product_id: @book.id), method: :post do |f|
          .col-xs-5.col-md-3
            .input-group.general-position
              %div.input-link.dec.button
                %i.fa.fa-minus.line-height-40
              = f.text_field :quantity, {class: "form-control quantity-input", id: 'quantity', value: '1'}
              %div.input-link.inc.button
                %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
            = f.submit t(:add_to_cart), class: "btn btn-default pull-right general-position"
= javascript_include_tag "readmore.min.js"
= javascript_include_tag "books.js"
:javascript
  $('#descr').readmore({
    maxHeight: 165,
    moreLink: "<a class='in-gold-500 ml-10' href='#'>#{t(:read_more)}</a>",
    lessLink: '<a href="#"></a>'
  });
