%main.container.general-main-wrap
  = render partial: '/bs_checkout/checkout/steps'
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle=t :shipping_address
      %p.general-address
        = @form.show_shipping_address
    .col-sm-3
      %h3.general-subtitle=t :billing_address
      %p.general-address
        = @form.show_billing_address
    .col-sm-3
      %h3.general-subtitle=t :shipments
      %p.general-address
        #{current_order.delivery.name}
        = link_to t(:edit), wizard_path(:delivery), class: 'general-edit'
    .col-sm-3
      %h3.general-subtitle Payment Information
      %p.general-address
        #{current_order.decorate.filtred_card_number}
        = link_to 'edit', wizard_path(:payment), class: 'general-edit'
        %br
        #{current_order.credit_card.date}
  .visible-xs
    = render partial: '/bs_checkout/checkout/order_products_xs'
  .hidden-xs.divider-lg.pt-20
    = render partial: '/bs_checkout/checkout/order_products_md'
  .text-center.general-text-right
    %p.in-gold-500.font-18=t :order_summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render partial: '/bs_checkout/checkout/summary'
  .text-center
    = button_to t(:place_order), wizard_path, {method: :put, class: "btn btn-default mb-20"}
