%main.container.general-main-wrap
  - if current_order.order_items.any?
    %h1.general-title-margin=t :cart
    %p.notice=flash[:error]
    .visible-xs
      = form_for current_order, url: checkout_update_path, method: :put do |f|
        = render partial: '/bs_checkout/checkout/order_products_xs'
        = f.submit t(:update_cart), class: "btn btn-primary mb-15 res-block"
        .col-sm-8
          .res-mr-200.text-center.general-text-right
            %p.in-gold-500.font-18=t(:order_summary)
            %table.general-summary-table.general-summary-table-right.general-text-right
              = render partial: '/bs_checkout/checkout/summary'
    .hidden-xs
      = form_for current_order, url: checkout_update_path, method: :put do |f|
        = render partial: '/bs_checkout/checkout/order_products_md'
        .general-order-wrap
          .row
            .col-sm-4
              .input-group.general-input-group
                %label.font-weight-light=t :enter_coupon
                = f.text_field :coupon, { class: "form-control mb-30", placeholder: t(:enter_coupon), value: current_order.coupon ? current_order.coupon.code : '', disabled: current_order.coupon ? true : false }
                %div
                  = f.submit t(:update_cart), class: "btn btn-primary mb-15 res-block"
            .col-sm-8
              .res-mr-200.text-center.general-text-right
                %p.in-gold-500.font-18=t :order_summary
                %table.general-summary-table.general-summary-table-right.general-text-right
                  = render partial: '/bs_checkout/checkout/summary'
    = button_to t(:checkout),  wizard_path(:address), method: :get, class: "btn btn-default mb-20 visible-xs-inline-block"
    = button_to t(:checkout),  wizard_path(:address), method: :get, class: "btn btn-default mb-20 hidden-xs center-block"
  - else
    %h1.general-title-margin=t :cart_empty
